html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #eee;
}
.toolbar {
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px;
}
.toolbar__form {
  width: 5.5em;
}
.toolbar__checkbox {
  margin-right: 1em;
}
.toolbar__checkbox input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}
.toolbar__download {
  float: right;
}
.downloadList {
  position: absolute;
  top: 35px;
  right: 5px;
  padding: 4px;
  z-index: 1000;
  background-color: rgba(255,255,255, 0.5);
  box-shadow: 3px 3px 5px 0 #333;
  border: 1px solid #fff;
  display: none;
}
.downloadList__link {
  margin: 4px;
  display: block;
  text-decoration: none;
}
.map {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}
